          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-md-offset-5 col-sm-offset-4 col-xs-offset-3 footer"><br><br><br><br>
          <img src="../images/we_logo.png" class="img-responsive"><br>
          &copy;2015 <a class="footer" href="http://www.crownsocial.com">Crown-Social-Agency</a><br><br><br>
          <img src="../images/we.png" class="img-responsive">
        </div>
    </div>

</body>
</html>