<% include ../partials/header.ejs %>
<% include ../partials/alerts.ejs %>

<!-- <p>You should only be able to access this page if you are logged in. If you are seeing this and you are not logged in that is a problem.</p> -->

<div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-3 col-sm-offset-1">

    <form class="form-horizontal" method="post" action="/email">
      <div class="form-group">
        <textarea name="content" class="form-control" rows="9"></textarea>
      </div>
      <div class="form-group">
        <div class="text-center">
          <button type="submit" class="ghost-button-transition">Send MeMail</button>
          <!-- <a class="ghost-button-transition" href="/email">Send MeMail</a> -->
        </div>
      </div>
    </form>
</div>
<div>
  <img src="../images/Screenshot 2015-04-13 22.31.12.png">
  <img src="../images/Screenshot 2015-04-13 22.31.04.png">
</div>

<% include ../partials/footer.ejs %>